@model IEnumerable<ForumSystem.Web.ViewModels.Home.IndexBlogPostViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    @if (TempData["successFeedBack"] != null)
    {
        <div class="alert alert-dismissable alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Well done!</strong> You successfully FeedBack Message.
        </div>
    }
@section scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>

        function hidePositiveVoteButton() {
            $("#positive-vote-button").hide();
        }
        function hideNegativeVoteButton() {
            $("#negative-vote-button").hide();
        }
    </script>
}
    @foreach (var post in Model)
    {
        var counter = 1;
        var votesResult = post.PositiveVotes.Count() - post.NegativeVotes.Count();
        <div class="row">
            <div class="col-md-1">
                <div class="well text-center">
                    @if (User.Identity.IsAuthenticated && post.CanVotePositively)
                    {
                    @Ajax.ActionLink("+", "VotePositive", new { id = post.Id }, new AjaxOptions
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = ("post-votes-" + post.Id),
                           HttpMethod = "Post",
                           OnSuccess = "hidePositiveVoteButton"
                       }, new { @id = "positive-vote-button-" + @post.Id, @class = "btn-sm btn-success"})
                    }
                    <div class="row"><span id="post-votes-@post.Id">@votesResult</span></div>
                    @if (User.Identity.IsAuthenticated && post.CanVoteNegatively)
                    {
                        @Ajax.ActionLink("-", "VoteNegative", new { id = post.Id }, new AjaxOptions
                       {
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = ("post-votes-" + post.Id),
                           HttpMethod = "Post",
                           OnSuccess = "hideNegativeVoteButton"
                       }, new { @id = "negative-vote-button-" + @post.Id, @class = "btn-sm btn-danger"})
                    }
                </div>
            </div>
            <div class="col-md-1">
                <div class="well text-center">
                    <div class="row">0</div>
                    <div class="row">answers</div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h4>
                        <a href="questions/display/@post.Id">@post.Title</a>
                    </h4>
                </div>
                <div class="row">
                    <p>asked 35 minutes ago in Kids Academy - програмиране за деца by a.dimitrov04 (40 points)</p>
                </div>
                <div class="row">
                    @foreach (var tag in post.Tags)
                    {
                        <span class="label label-default">@tag.Name</span>
                    }
                </div>
            </div>
        </div>
        <hr />
        counter++;

        <script>

    function hidePositiveVoteButton() {
        $("#positive-vote-button-@post.Id").hide();
            }
            function hideNegativeVoteButton() {
                $("#negative-vote-button-@post.Id").hide();
            }
</script>
    }
</div>